@font-face {
	font-family: 'ostrich_sansheavy';
	src: url(../../assets/fonts/ostrichsans-heavy-webfont.woff2) format('woff2'),
	url(../../assets/fonts/ostrichsans-heavy-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}