{%  extends "bases/bootstrap_base.html" %}

{%  block main %}
<section class="text-bg-dark border-1 shadow py-4 py-xl-5" style="background: linear-gradient(var(--bs-link-color) 0%, var(--bs-body-color) 100%);">
        <div class="container" style="background: #00000000;">
            <div class="text-center text-bg-light p-4 p-lg-5" style="background: linear-gradient(var(--bs-gray-300), var(--bs-gray-400) 100%), var(--bs-cyan);">
                <p class="fw-bold mb-2"></p>
                <h1 class="fw-bold text-primary mb-4" style="font-family: Bungee Shade, sans-serif;font-size: 86.928px;">Contact Us</h1>
            </div>
        </div>
    </section>

    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Developers</h2>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <h4 class="card-title">Sarah Crowder</h4>
                        <p class="card-text"> <ul><li>Github: @sarah-e-c</li> <li>Email: crowdies@unc.edu</li></ul></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock main %}

