{% extends 'bases/bootstrap_base.html' %}

{% block title %}Create New Event{% endblock %}

{% set active_page='events' %}

{# TODO make this look good #}
{% block styles %}
<style>
    #createDestinationDiv  {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        border: 1px solid #000;
        padding: 20px;
        z-index: 0;
        box-shadow: 0px 0px 5px 0px rgba(255, 225, 225, 0.75);
        
    }
</style>
{% endblock %}

{% block main %}
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBghXgyj-zW3xh5e-2ryMGNh1iRCKvRG6k&libraries=places"></script>
    <section class="position-relative py-4 py-xl-5" style="background: linear-gradient(180deg, var(--bs-gray-200) 0%, var(--bs-gray-400) 100%);">
<h1 id="text01" class="text-center" style="font-family: 'ostrich_sansheavy', sans-serif; color:var(--bs-primary);">Create New Event</h1>
<div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
<div id="text02" class="card ">
<div class="card-header">
<h6 id="text07">{{ message }}</h6>
</div>

<div class="card-body shadow d-flex flex-column align-items-center">
    <form action="{{url_for('main.create_event_page')}}" method="post">
        <div id="formtable">
            <p>
                <label for="eventname">Event Name</label>

                <input type="text" id="eventname" name="eventname" placeholder="Friday Meeting" class="input1"
                    required="required">
            </p>
            <br>

                <label for="eventdate">Event Date
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </label>
                <input type="date" id="eventdate" name="eventdate" placeholder="8:00" class="align-right"
                    required="required">
            <br>
                <label for="eventstarttime">Event Start Time
                    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </label>
                <input type="time" id="eventstarttime" name="eventstarttime" placeholder="4:00" class="input1"
                    required="required">
            <br>

                <label for="eventendtime">Event End Time</label>
                <input type="time" id="eventendtime" name="eventendtime" placeholder="8:30" class="input1"
                    required="required">
            <br>

            <p>
                <label for="eventAddress">Event Location</label>
                <select onclick="verifyDestination(event)" name="eventAddress" id="eventAddress">
                    {% for destination in destinations %}
                    <option value="{{destination.name}}" selected> {{destination.name}}</option>
                    {% endfor %}
                </select>
                <a class="btn btn-outline-dark" onclick="verifyDestination(event)">Create Destination</a>
            </p>

            <p>
                <label for="eventdescription">Event Description</label>
                <input type="text" id="eventdescription" name="eventdescription" placeholder="Normal Friday Meeting"
                    class="input1">
            </p>
            <br>
        <p>
            <label for="needsmatchingbuildto">Schedule Carpool Matching to? &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input type="checkbox" id="needsmatchingbuildto" name="needsmatchingbuildto" value="true" class="input1">
        </p>
        <br>
        <p>
            <label for="needsmatchingbuildfrom">Schedule Carpool Matching from? &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
            <input type="checkbox" id="needsmatchingbuildfrom" name="needsmatchingbuildfrom" value="true" class="input1">
        </p>


        </div>

        <div class="mb-3"><input type="submit" value="Create" class="btn btn-primary" id="submitbutton"></div>
        <br>
    </form>
</div>
</div>
                </div>
</div>

    <div id="createDestinationDiv" style="display: none;" class="createDestinationDiv card m-lg-5">
        <div class="card-header">
            <h3>Create New Destination</h3>
        </div>
        <div class="card-body">
        <form action="{{url_for('internal.create_destination')}}" method="post" id="createDestinationForm">
                <div class="mb-3"><input type="text" id="destinationname" name="destinationname" placeholder="Destination Name"
                                         class="input1" required="required"></div>
            <br>

                <div class="mb-3"><input type="text" id="addressline1" name="addressline1" placeholder="Destination Address"
                                        class="input1" required="required"></div>
            <br>

            <input type="hidden" id="city" name="city" class="input1" required="required">
            <input type="hidden" id="state" name="state" class="input1" required="required">
            <input type="hidden" id="zipcode" name="zipcode" class="input1" required="required">
            <input type="hidden" id="latitude" name="latitude" class="input1" required="required">
            <input type="hidden" id="longitude" name="longitude" class="input1" required="required">
            <input type="hidden" id="place_id" name="place_id" class="input1" required="required">

                <input type="submit" onclick="verify_and_submit_form(event)" class="btn button-primary" id="submitbutton">
            <br>
        </form>
        </div>
    </div>
    </section>
{% endblock %}

{% block scripts %}
<script>

    let autocomplete = google.maps.places.Autocomplete;
    let addressLine1Field = document.getElementById("addressline1");

    let latitude; // making these global so we can use them in the submit function without having to be in the form
    let longitude;
    let place_id;
    let zipcode;
    let city;
    let state;

    initAutocomplete()


    function verifyDestination(event) {
        let element = document.getElementById("eventAddress");
        let createDestinationDiv = document.getElementById("createDestinationDiv");
        if (createDestinationDiv.style.display === 'block') {
            createDestinationDiv.style.display = 'none';
        } else {
            createDestinationDiv.style.display = 'block';
        }
        
        console.log("new destination selected")

    }

    function initAutocomplete() {
        console.log("initAutocomplete")


        // Create the autocomplete object, restricting the search predictions to
        // addresses in the US
        autocomplete = new google.maps.places.Autocomplete(addressLine1Field, {
            componentRestrictions: { country: ["us"] },
            fields: ["address_components", "geometry", "place_id"],
            types: ["address"],
        });

        addressLine1Field.focus();
        console.log("autocomplete initialized")

        // When the user selects an address from the drop-down, populate the
        // address fields in the form.
        autocomplete.addListener("place_changed", fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        const place = autocomplete.getPlace();
        let address1 = "";

        // Get each component of the address from the place details,
        // and then fill-in the corresponding field on the form.
        // place.address_components are google.maps.GeocoderAddressComponent objects
        // which are documented at http://goo.gle/3l5i5Mr
        console.log(place.address_components)
        for (var i = 0; i < place.address_components.length; i++) {
            // @ts-ignore remove once typings fixed
            let component = place.address_components[i];
            const componentType = component.types[0];


            switch (componentType) {
                case "street_number": {
                    address1 = `${component.long_name} ${address1}`;
                    break;
                }
                case "route": {
                    address1 += component.short_name;
                    break;
                }
                case "locality": {
                    city = component.long_name;
                    break;
                }
                case "postal_code": {
                    zipcode = `${component.long_name}${zipcode}`;
                    break;
                }
                case "administrative_area_level_1": {
                    state = component.short_name
                    break;
                }
            }
        }

        addressLine1Field.value = address1;
        latitude = place.geometry.location.lat();
        longitude = place.geometry.location.lng();
        place_id = place.place_id;


    }

    function verify_and_submit_form(event) {
        // this function is called when the submit button is clicked
        // it verifies that the passwords match and then submits the form

        event.preventDefault();
        console.log(latitude, longitude)
        if (latitude && longitude) {
            document.getElementById("latitude").value = latitude;
            document.getElementById("longitude").value = longitude;
            document.getElementById("place_id").value = place_id;
            document.getElementById("city").value = city;
            document.getElementById("state").value = state;
            document.getElementById("zipcode").value = zipcode;
            document.getElementById("createDestinationForm").submit();
        } else {
            alert("Please select a valid address from the dropdown")
        }
    }
</script>
{% endblock %}
