{% extends 'bases/bootstrap_base.html' %}

{% block title %}{{ firstname }} {{ lastname }}{% endblock %}

{% block main %}
    <section class="position-relative py-4 py-xl-5" style="background: linear-gradient(20deg, var(--bs-gray-600) 0%, var(--bs-gray-400) 99%), var(--bs-pink);">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="fs-1 text-center text-primary card-title" style="font-family: ostrich_sansheavy;">
                            {{ firstname.capitalize() }} {{ lastname.capitalize() }}</h4>
                        <h6 class="text-center card-subtitle mb-2">{{ student_or_parent.capitalize() }} Driver</h6>
                        <p class="text-center text-muted card-text">{{ extra_information}}</p>
                        <div class="row">
                            <div class="col-auto"><span>Phone Number</span></div>
                            <div class="col text-end"><span class="text-end">{{ phone_number }}</span></div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-end">
                                <hr/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><span>Email Address</span></div>
                            <div class="col text-end"><span class="text-end">{{ email_string }}</span></div>
                        </div>
                        <div class="row">
                            <div class="col text-end">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><span>Number of Seats</span></div>
                            <div class="col text-end"><span class="text-end">{{ number_seats }}</span></div>
                        </div>
                        <div class="row">
                            <div class="col text-end">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><span>Years with License</span></div>
                            <div class="col text-end"><span class="text-end">{{ licenseyears }}</span></div>
                        </div>
                        <div class="row">
                            <div class="col text-end">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><span>Car Type</span></div>
                            <div class="col text-end"><span class="text-end">{{ car_type_1 }}</span></div>
                        </div>
                        <div class="row">
                            <div class="col text-end">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><span>Car Color</span></div>
                            <div class="col text-end"><span class="text-end">{{ car_color_1 }}</span></div>
                        </div>
                        {%  if car_type_2 %}
                        <div class="row">
                            <div class="col text-end">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><span>Secondary Car Type</span></div>
                            <div class="col text-end"><span class="text-end">{{ car_type_2 }}</span></div>
                        </div>
                        <div class="row">
                            <div class="col text-end">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><span>Secondary Car Color</span></div>
                            <div class="col text-end"><span class="text-end">{{ car_color_2 }}</span></div>
                        </div>
                        <div class="row">
                            <div class="col text-end">
                                <hr />
                            </div>
                        </div>
                        {%  endif %}
                        <div class="row">
                            <div class="col"><span>Emergency Contact Number</span></div>
                            <div class="col text-end"><span class="text-end">{{ emergencycontact }}</span></div>
                        </div>
                        <div class="row">
                            <div class="col text-end">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"><span>Emergency Contact Relationship</span></div>
                            <div class="col text-end"><span class="text-end">{{ emergencycontactrelation }}</span></div>
                        </div>
                        <div class="row">
                            <div class="col text-end">
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col text-center"><a href="{{ url_for('main.home_page') }}"><button class="btn btn-light text-center" type="button" style="margin: 16px;">Return Home <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">
                        <path d="M3 12L5 10M5 10L12 3L19 10M5 10V20C5 20.5523 5.44772 21 6 21H9M19 10L21 12M19 10V20C19 20.5523 18.5523 21 18 21H15M9 21C9.55228 21 10 20.5523 10 20V16C10 15.4477 10.4477 15 11 15H13C13.5523 15 14 15.4477 14 16V20C14 20.5523 14.4477 21 15 21M9 21H15" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg></button></a></div>
        </div>
    </div>
</section>
{% endblock %}
