{% extends 'bases/bootstrap_base.html' %}

{% set title = event.name.capitalize() %}
{% set active_page='events' %}

{% block subtitle %}{{event.get_description()}} <br> {{event.get_date()}} {{event.get_times()}}{% endblock %}


{%  block main %}
    <div style="height: 500px;background: url('{{ url_for('static', filename='banner_img.jpg') }}') center / cover;">
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 class="fw-bold text-center text-primary mb-4" style="font-family: Bungee Shade;font-size: 103.52px; background: rgba(0, 0, 0, 0.5)">{{ event.name }}</h2>
</div>
<div class="carpooling_div tabcontent" id="carpool">
    <section class="text-center py-4 py-xl-5">
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-bs-toggle="tab" href="#tab-1">Sign Up</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-2">Check In</a></li>
            <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab" href="#tab-3">Info</a></li>
        </ul>
        <div class="tab-content">

            <div id="tab-1" class="tab-pane active text-center justify-content-sm-center" role="tabpanel">
                {%  if user.is_authenticated %}
                    {%  if user.is_signed_up_for_event(event.index) %}
                        <div class="text-center border rounded-0 border-dark shadow p-4 p-lg-5" style="margin: 38px;">
                    <h1 class="fs-3">You are signed up for this event.</h1>
                    <a href="{{ url_for('internal.cancel_carpool_signup', event_index=event.index) }}"><button onclick="cancel_sign_up(event)" class="btn btn-warning" type="submit">Cancel Sign Up</button></a>
                    </div>
                    {%  else %}
                        <div class="text-center border rounded-0 border-dark shadow p-4 p-lg-5" style="margin: 38px;">
                    <h1 class="fs-3">Sign Up for This Event</h1>
                    <form  action="{{ url_for('internal.create_carpool_signup', event_index=event.index) }}" method="post">
                    <div class="form-check"><input id="formCheck-1" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-1">I absolutely need a ride to this event.</label></div>
                    <div class="form-check"><input id="formCheck-2" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-2">I am willing to ride with other people to this event.</label></div>
                    <div class="form-check"><input id="formCheck-3" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-3">I am willing to drive others to this event.</label></div>
                    <button class="btn btn-primary" type="submit">Sign Up</button>
                    </form>
                </div>
                        {%  endif %}
                {%  else %}
                <div class="text-center border rounded-0 border-dark shadow p-4 p-lg-5" style="margin: 38px;">
                    <h1 class="fs-3">Please log in to sign up or check in.</h1>
                    <a class="btn btn-primary ms-md-2" role="button" href="{{ url_for('auth.login_page') }}">Log In</a>
                    <a class="btn btn-outline-primary ms-md-2" role="button" href="{{ url_for('auth.generic_register_page') }}">Register</a>
                </div>
                {%  endif %}

            </div>
            <div id="tab-2" class="tab-pane justify-content-sm-end" role="tabpanel">
                {%  if user.is_authenticated %}
                    {%  if user.is_checked_in_for_event(event) %}
                        <h4 class="style2">Check in time: {{ user.get_event_check_in(event).check_in_time.strftime('%I:%M') }}</h4>
                        <a href="{{ url_for('internal.event_checkout', event_id=event.id) }}"><button class="btn btn-primary text-center" type="button"></button></a>
                    {%  else %}
                <div class="border rounded-0 border-dark shadow" style="margin: 38px;">

                    <h1 class="fs-3 text-center" style="margin: 10px;">Check in to this event</h1><button
                        class="btn btn-primary text-center" type="button" style="margin: 9px;">Check In</button>

                {%  endif %}
                </div>
                {%  else %}
                <div class="text-center border rounded-0 border-dark shadow p-4 p-lg-5" style="margin: 38px;">
                    <h1 class="fs-3">Please log in to sign up or check in.</h1>
                    <a class="btn btn-primary ms-md-2" role="button" href="{{ url_for('auth.login_page') }}">Log In</a>
                    <a class="btn btn-outline-primary ms-md-2" role="button" href="{{ url_for('auth.generic_register_page') }}">Register</a>
                </div>
                {%  endif %}
            </div>
            <div id="tab-3" class="tab-pane justify-content-sm-end">
                <h1 class="fs-3">Event Information</h1>
                <div class="border rounded-0 border-dark shadow p-4 p-lg-5" style="margin: 38px">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto"><span>Event Date</span></div>
                            <div class="col text-end"><span class="text-end">{{ event.get_date() }}</span></div>
                        </div>
                        <div class="row">
                            <div class="col text-end">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto"><span>Event Start Time</span></div>
                            <div class="col text-end"><span class="text-end">{{ event.start_time.strftime('%I:%M %p')}}</span></div>
                        </div>
                        <div class="row">
                            <div class="col-12 text-end">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto"><span>Event End Time</span></div>
                            <div class="col text-end"><span class="text-end">{{ event.end_time.strftime('%I:%M %p')}}</span></div>
                        </div>
                        <div class="row">
                            <div class="col text-end">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto"><span>Location</span></div>
                            <div class="col text-end"><span class="text-end">{{ event.location }}</span></div>
                        </div>
                        <div class="row">
                            <div class="col text-end">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto"><span>People Attending</span></div>
                            <div class="col text-end"><span class="text-end">{{ event.event_carpol_signups | length}}</span></div>
                        </div>
                        <div class="row">
                            <div class="col text-end">
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if current_user.is_authenticated %}
    {% if user.is_admin() > 0 or event.user_id == user.id%}
            <a style="color: rgb(228, 53, 53)" href="{{ url_for('internal.delete_event', event_index=event.index)}}"
                onclick="confirm_delete_event(event)" class="button n01">
                <span class="label">Delete Event</span>
            </a>
    {% endif %}
    {% endif %}
    </section>
</div>
{% endblock main %}

{% block scripts %}
<script>
    function carpoolSignUp(event) {
        if (!confirm("Are you sure that you want to sign up for this event and that this information is correct?")) {
            event.preventDefault();
            return;
        } // making sure that the driver exists
        console.log('submitting form');
        document.getElementById("signup-form").submit();
    }
    function openTab(evt, tabName) {
        // Declare all variables
        let i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" activetab", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " activetab";
    }

    function check_out(event) {
        //function to check people out

    }

    function check_in(event) {
        //function to check people in
    }

    function cancel_sign_up(event) {
        //function to sign people up
        if (!confirm("Are you sure you want to cancel your signup? You will not be matched with a carpool.")) {
            event.preventDefault();
        }
    }


    function confirm_valid_driver(e) {
        if ("{{user.is_authenticated }}" === "False") {
            e.preventDefault();
            alert("You must be logged in to drive a carpool!");
        }
    }
    function confirm_delete_event(e) {
        if (!confirm("Are you sure you want to delete this event? Deleting this event will delete all carpool information associated with it and notify any drivers.")) {
            e.preventDefault();
        }
    }
    function confirm_sign_up_for_carpool(e) {
        if (!confirm("Are you sure you want to request a carpool? Drivers in your area will be notified of your request.")) {
            e.preventDefault();
        }
    }
</script>
{% if user.is_authenticated %}
<script>
    function is_same_person(e, carpool_driver) {
        if ("{{user}}" === carpool_driver) {
            e.preventDefault();
            alert("You cannot sign up for your own carpool!");
        }
    }
</script>
{% else %}
<script>
    function is_same_person(e, carpool_driver) {
    }
</script>
{% endif %}
{% endblock scripts%}
