{% extends 'bases/bootstrap_base.html' %}

{% set active_page='events' %}

{% block subtitle %}Sign up to drive or ride! {% endblock %}

{% block title %}Upcoming Events{% endblock %}

{% block main %}

<div style="height: 500px;background: url('{{ url_for('static', filename='banner_img.jpg') }}') center / cover;">
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 class="fw-bold text-center text-primary mb-4" style="font-family: Bungee Shade;font-size: 103.52px; background: rgba(0, 0, 0, 0.5)">Upcoming Events</h2>
</div>
    <section class="py-4 py-xl-5">
{%  if events %}
    <div class="container">
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            {%  for event in events %}
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="bs-icon-md bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center d-inline-block mb-3 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-calendar-event">
                                <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"></path>
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"></path>
                            </svg></div>
                        <h4 class="card-title">{{ event.name }}</h4>
                        <p class="card-text">{{ event.description }}<br><br>Start Time: {{ event.start_time.strftime('%I:%M %p') }}
                            <br>End Time: {{ event.end_time.strftime('%I:%M 5p') }}<br>Carpools will be scheduled <strong><span style="text-decoration: underline;">{{ event.get_carpool_type_string() }}</span> </strong>this event. View to sign up!<br></p><a href="{{ url_for('main.event_page', event_index=event.index) }}">
                        <button class="btn btn-primary" type="button">View<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                    </svg></button></a>
                    </div>
                </div>
            </div>
            {%  endfor %}
        </div>
    </div>
    <br>
    <br>
{%  else %}
    <h3 class="text-center">There are no upcoming events.</h3>
    <br>
    <br>
{%  endif %}

    <div class="text-center" style="padding-top: 10px; display: block" >
    <h2 class="text-center"> Don't see the event you want?</h2>
    <a class="text-center" href="{{ url_for('main.create_event_page') }}"><button class="btn btn-outline-primary text-center" type="button">Create Event<svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                    </svg></button></a>
    </div>
    </section>

{% endblock %}
