{% extends 'bases/carrd_base.html' %}

{% block title %}Register for Mech Tech Dragons Carpooling{% endblock %}

{% set active_page='register' %}

{% block main %}

<div id="image01" class="style1 image">
    <span class="frame">
        <img src="{{url_for('static', filename='driver_signup_template_files/image01.png')}}" alt=""/>
    </span>
</div>
<h1 id="text01" class="style1">Mech Tech Dragons Carpooling</h1>
<hr id="divider02" class="style1">
<div id="text02" class="style2">
    <p class="style2">
        Would you like to register a passenger or a driver?<br>
        (If you have your license, it is recommended that you sign up as a driver. You don't have to drive if you don't want to.)
    </p>
</div>
<ul id="buttons01" class="style1 buttons">
    <li>
        <a href="{{url_for('register_new_driver_page')}}" class="button n01">
            <svg>
                <use xlink:href="#icon-b64"></use>
            </svg>
            <span class="label">Driver</span>
        </a>
        <a href="{{url_for('register_passenger_page')}}" class="button n01">
            <svg>
                <use xlink:href="#icon-b64"></use>
            </svg>
            <span class="label">Passenger</span>
        </a>
        <br>
        <a href="{{url_for('legacy_driver_to_login_page')}}" class="button n01">
            <svg>
                <use xlink:href="#icon-b64"></use>
            </svg>
            <span class="label">I already registered as a driver</span>
        </a>
    
    </li>
</ul>

{% endblock %}