{% extends 'bases/bootstrap_base.html' %}

{% block title %}Verify 422 Key{% endblock %}

{% block main %}
<h1 id="text-center" class="style1">Verify Access Key</h1>
<h2 class="text-center">{{message}}</h2>
<hr id="divider02" class="style1">
<div id="text02" class="card">
<div class="card-body">
    <form action="{{url_for('auth.verify_auth_key_page', next=next, kwargs_keys=kwargs_keys, kwargs_string=kwargs_string)}}" method="post" class="style1" id="formtable">
        <p>
        <label for="key">Access Key</label>
        <input type="text" name="key" id="key" value=""/>
        </p>
        <input type="submit" value="Verify" class="style1" id="submitbutton">
        <br>
    </form>
</div>
</div>
{% endblock %}
