{% extends 'bases/carrd_base.html' %}

{% block title %}Mech Tech Dragons Carpooling{% endblock %}

{% set active_page ='home' %}


{% block main %}
<div id="image01" class="style1 image">
    <span class="frame">
        <img src="{{url_for('static', filename='driver_signup_template_files/image01.png')}}" alt=""/>
    </span>
</div>
<h1 id="text01" class="style1">Mech Tech Dragons Carpooling</h1>
<hr id="divider02" class="style1">
<div id="text02" class="style2">
    <p class="style2">
        Welcome to Mech Techs Carpooling! Register for an account to start carpooling with other Dragons! (You can still use the site without an account, but you will not be able to create carpools, view your carpools, or drive for carpools, and you will be asked for the team key every time you view information.)
    </p>
</div>
<ul id="buttons01" class="style1 buttons">
    <li>
        <a href="{{url_for('generic_register_page')}}" class="button n01">
            <svg>
                <use xlink:href="#icon-b64"></use>
            </svg>
            <span class="label">Register Now</span>
        </a>
    </li>
</ul>
{% endblock %}