{% extends 'bases/carrd_base.html' %}

{% block title %}Login Help{% endblock %}
{% set active_page='login_help' %}

{% block main %}
<div id="image01" class="style1 image">
    <span class="frame">
        <img src="{{url_for('static', filename='driver_signup_template_files/image01.png')}}" alt=""/>
    </span>
</div>
<h1 id="text01" class="style1">Login Help</h1>
<hr id="divider02" class="style1">
<div id="text02" class="style2">
    <p class="style2">
        What would you like to do?
        <ul>
        <li>
            <p class="style2">Register as a driver or a passenger</p>
        </li>
        <li>
            <p class="style2"> Forgot Password</p>
        </li>
        <li>
            <p class="style2"> Update your profile</p>
        </li>
        </ul>
    </p>
</div>
<ul id="buttons01" class="style1 buttons">
    <li>
        <a href="{{url_for('auth.generic_register_page')}}" class="button n01">
            <svg>
                <use xlink:href="#icon-b64"></use>
            </svg>
            <span class="label">Register</span>
        </a>
        <a href="{{url_for('auth.forgot_password_page')}}" class="button n01">
            <svg>
                <use xlink:href="#icon-b64"></use>
            </svg>
            <span class="label">Forgot Password</span>
        </a>
        <br>
    
    </li>
</ul>
{% endblock %}