{% extends 'bases/bootstrap_base.html' %}
 
{% block title %}{{ organization.name }}{% endblock %}
 
{% block main %}
        <section class="position-relative py-4 py-xl-5" style="background: linear-gradient(180deg, var(--bs-gray-200) 0%, var(--bs-gray-400) 100%); height: 80vh">
<h1 id="text02" class="text-center" style="opacity: 1; transform: none; color: var(--bs-primary); font-family: 'Bungee Shade', sans-serif">{{organization.name}}</h1>
<p id="text07" class="text-center" style="opacity: 1; transform: none;"></p>
                <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
<div class="card">
<div class="card-body shadow d-flex flex-column align-items-center">
    <h5 class="card-title">Organization Details</h5>
{% if organization.description %}
    {{ organization.description }} <br><br>
{% endif %}

    Organization Access Key: {{ organization.access_key }} <br>
    Number of members: {{ organization.users | length }} <br>

<ul style="text-align: left">
    {% for member in organization.users %}
        {% if member.num_seats %}
        <li><a href="{{ url_for('main.driver_page', id=member.id) }}">{{ member.first_name.capitalize() }} {{ member.last_name.capitalize() }}</a></li>
            {%  else %}
            <li><a href="{{ url_for('main.passenger_page', id=member.id) }}">{{ member.first_name.capitalize() }} {{ member.last_name.capitalize() }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
<div class="row">
<div class="col">
    <a href="{{ url_for("admin.manage_users_page") }}" class="btn btn-outline-primary p2 m3">Manage Users</a>
</div>
<div class="col">
{%  if user.is_admin() > 1 %}
    <a href="{{ url_for("admin.edit_organization_page", organization_id=organization.id) }}" class="btn btn-outline-primary p2 m3">Edit Organization</a>
{%  endif %}
</div>
</div>
</div>
</div>
                </div>
</div>
    </section>
{% endblock %}
