{% extends 'bases/carrd_base.html' %}
    
{% block title %}Passenger to Driver{% endblock %}
    
{% block main %}

<div id="image01" class="style1 image">
    <span class="frame">
        <img src="{{url_for('static', filename='driver_signup_template_files/image01.png')}}" alt=""/>
    </span>
</div>
<h1 id="text01" class="style1">Passenger to Driver</h1>
<h2 id="text07" class="style2">{{ message }}</h2>
<hr id="divider02" class="style1">
<div id="text02" class="style2">
    <form action="{{url_for("passenger_to_driver_page")}}" method="post">
        <div id="formtable">
        <p>
        <label for="studentorparent">Student or Parent</label>
        
        <input type="text" id="studentorparent" name="studentorparent" placeholder="Parent" class="input1" required="required">
        </p>
        <br>
        <p>
        <label for="licenseyears">Number of Years with License (if student)&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </label>
        <input type="text" id="licenseyears" name="licenseyears" placeholder="1" class="input1">
        </p>
        <br>
        <p>
            <label for="numberofseats">Max Number of Passengers</label>
            <input type="text" id="numberofseats" name="numberofseats" placeholder="3" class="input1" required="required">
        </p>
        <br>
        <p>
        <label for="cartype1">Primary Car Type</label>
        <input type="text" id="cartype1" name="cartype1" placeholder="Tesla Model X" class="input1" required="required">
        </p>
        <br>
        <p>
        <label for="carcolor1">Primary Car Color</label>
        <input type="text" id="carcolor1" name="carcolor1" placeholder="Silver" class="input1" required="required">
        </p>
        <br>
        <p>
            <label for="cartype2">Secondary Car Type</label>
            <input type="text" id="cartype2" name="cartype2" placeholder="Tesla Model Y" class="input1">
            </p>
        <br>
        <p>
            <label for="carcolor2">Secondary Car Color</label>
            <input type="text" id="carcolor2" name="carcolor2" placeholder="Gold" class="input1">
        </p>
        <br>
        

        </div>
        <ul id = "buttons01" class="style1 buttons">
            <input type="submit" value="Submit" class="style1" id="submitbutton"> 
        </ul>
        <br>
    </form>
</div>
{% endblock %}