{% extends 'bases/carrd_base.html' %}
    
{% block title %}Passenger to Driver{% endblock %}
    
{% block main %}

<div id="image01" class="style1 image">
    <span class="frame">
        <img src="{{url_for('static', filename='driver_signup_template_files/image01.png')}}" alt=""/>
    </span>
</div>
<h1 id="text01" class="style1">Passenger to Driver</h1>
<h2 id="text07" class="style2">{{ message }}</h2>
<hr id="divider02" class="style1">
<div id="text02" class="style2">
    <form action="{{url_for("auth.passenger_to_driver_page")}}" method="post">
        <div id="formtable">
        <p>
        <label for="studentorparent">Student or Parent</label>
        
        <input type="text" id="studentorparent" name="studentorparent" placeholder="Parent" class="input1" required="required">
        </p>
        <br>
        <p>
        <label for="licenseyears">Number of Years with License (if student)&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </label>
        <input type="text" id="licenseyears" name="licenseyears" placeholder="1" class="input1">
        </p>
        <br>
        <p>
            <label for="numberofseats">Max Number of Passengers</label>
            <input type="text" id="numberofseats" name="numberofseats" placeholder="3" class="input1" required="required">
        </p>
        <br>
        <p>
        <label for="cartype1">Primary Car Type</label>
        <input type="text" id="cartype1" name="cartype1" placeholder="Tesla Model X" class="input1" required="required">
        </p>
        <br>
        <p>
        <label for="carcolor1">Primary Car Color</label>
        <input type="text" id="carcolor1" name="carcolor1" placeholder="Silver" class="input1" required="required">
        </p>
        <br>
        <p>
            <label for="cartype2">Secondary Car Type</label>
            <input type="text" id="cartype2" name="cartype2" placeholder="Tesla Model Y" class="input1">
            </p>
        <br>
        <p>
            <label for="carcolor2">Secondary Car Color</label>
            <input type="text" id="carcolor2" name="carcolor2" placeholder="Gold" class="input1">
        </p>
        <br>
        <p>
            <label for="addressline1">Address Line 1</label>
            <input type="text" id="addressline1" name="addressline1" placeholder="1234 Main St" class="input1" required="required">
        </p>
        <br>
        <p>
            <label for="addressline2">Address Line 2</label>
            <input type="text" id="addressline2" name="addressline2" placeholder="Apt 1" class="input1">
        </p>
        <br>
        <p>
            <label for="city">City</label>
            <input type="text" id="city" name="city" placeholder="San Francisco" class="input1" required="required">
        </p>
        <br>
        <p>
            <label for="state">State</label>
            <input type="text" id="state" name="state" placeholder="CA" class="input1" required="required">
        </p>
        <br>
        <p>
            <label for="zipcode">Zip Code</label>
            <input type="text" id="zipcode" name="zipcode" placeholder="94105" class="input1" required="required">
        </p>
        <br>
        <input type="hidden" id="latitude" name="latitude">
        <input type="hidden" id="longitude" name="longitude" >
        <input type="hidden" id="place_id" name="place_id">
        

        </div>
        <ul id = "buttons01" class="style1 buttons">
            <input type="submit" value="Submit" class="style1" id="submitbutton"> 
        </ul>
        <br>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    
    let autocomplete = google.maps.places.Autocomplete;
    let addressLine1Field = document.getElementById("addressline1");
    let addressLine2Field = document.getElementById("addressline2");
    let zipCodeField = document.getElementById("zipcode");
    let cityField = document.getElementById("city");

    let latitude; // making these global so we can use them in the submit function without having to be in the form
    let longitude;
    let place_id;

    initAutocomplete()

    function initAutocomplete() {
        console.log("initAutocomplete")

    
      // Create the autocomplete object, restricting the search predictions to
      // addresses in the US
      autocomplete = new google.maps.places.Autocomplete(addressLine1Field, {
        componentRestrictions: { country: ["us"] },
        fields: ["address_components", "geometry", "place_id"],
        types: ["address"],
      });

      addressLine1Field.focus();
      console.log("autocomplete initialized")
    
      // When the user selects an address from the drop-down, populate the
      // address fields in the form.
      autocomplete.addListener("place_changed", fillInAddress);
    }

    function fillInAddress() {
        // Get the place details from the autocomplete object.
        const place = autocomplete.getPlace();
        let address1 = "";
        let postcode = "";
        let city = ""
      
        // Get each component of the address from the place details,
        // and then fill-in the corresponding field on the form.
        // place.address_components are google.maps.GeocoderAddressComponent objects
        // which are documented at http://goo.gle/3l5i5Mr
        console.log(place.address_components)
        for (var i = 0; i < place.address_components.length; i++) {
          // @ts-ignore remove once typings fixed
          let component = place.address_components[i];
          const componentType = component.types[0];
          
      
          switch (componentType) {
            case "street_number": {
              address1 = `${component.long_name} ${address1}`;
              break;
            }
            case "route": {
              address1 += component.short_name;
              break;
            }
            case "locality": {
                city = component.long_name;
                break;
            }
            case "postal_code": {
              postcode = `${component.long_name}${postcode}`;
              break;
            }
          }
        }

        addressLine1Field.value = address1;
        zipCodeField.value = postcode;
        cityField.value = city;
        latitude = place.geometry.location.lat();
        longitude = place.geometry.location.lng();
        place_id = place.place_id;
        console.log(latitude, longitude)
        console.log(place_id)
        document.getElementById("addressline2").focus() // focusing the cursor on address line 2
      }

    function verify_and_submit_form(event) { 
        // this function is called when the submit button is clicked
        // it verifies that the passwords match and then submits the form
        let password = document.getElementById("password").value;
        let confirmpassword = document.getElementById("confirmpassword").value;
        if (password != confirmpassword) {
            alert("Passwords do not match");
            event.preventDefault();
            return false;
        }
        else {
            event.preventDefault();
            console.log(latitude, longitude)
            document.getElementById("latitude").value = latitude;
            document.getElementById("longitude").value = longitude;
            document.getElementById("place_id").value = place_id;
            document.getElementById("registerform").submit();
        }
    }
</script>
{% endblock %}