{% extends 'bases/carrd_base.html' %}

{% set active_page='user_profile' %}

{% block title %}Edit Information{% endblock %}

{% block main %}
<div id="image01" class="style1 image">
    <span class="frame">
        <img src="{{url_for('static', filename='driver_signup_template_files/image01.png')}}" alt=""/>
    </span>
</div>
<h1 id="text01" class="style1">Change Information</h1>
<h2 id="text07" class="style2">{{ message }}</h2>
<hr id="divider02" class="style1">
<div id="text02" class="style2">
    <form action="{{url_for('auth.update_user_information_page')}}" method="post">
        <div id="formtable">
        <p>
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" name="firstname" value="{{user.first_name.capitalize()}}" class="input1" required="required">
        </p>
        <br>
        <p>
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" name="lastname" value="{{user.last_name.capitalize()}}" class="input1" required="required">
        </p>
        <br>
        <p>
        <label for="email">Email Address</label>
        <input type="text" id="email" name="email" value="{{user.email_address}}" class="input1" required="required">
        </p>
        <br>
        <p>
        <label for="phonenumber">Phone Number</label>
        <input type="text" id="phonenumber" name="phonenumber" value="{{user.phone_number}}" class="input1" required="required">
        </p>
        <br>
        <p>
            <label for="emergencycontact">Emergency Contact Phone Number</label>
            <input type="text" id="emergencycontact" name="emergencycontact" value="{{user.emergency_contact_number}}" class="input1" required="required">
            </p>
        <br> 
        <p>
            <label for="emergencycontactrelation">Emergency Contact Relationship</label>
            <input type="text" id="emergencycontactrelation" name="emergencycontactrelation" value="{{user.emergency_contact_relation}}" class="input1" required="required">
        </p>
        <br>

        <p>
            <label for="region">Region</label>
            <select name="region"> 
                {% for region in regions%}
                <option value="{{region.name}}" selected>{{region.name}}</option>
                {% endfor %}
            </select>
        </p>
        <br>
        <p>
            <label for="addressline1">Address Line 1</label>
            <input type="text" id="addressline1" name="addressline1" placeholder="123 Example Drive" value= "{{user.addresses[0].address_line_1}}" class="input1" required="required">
            </p>
            <br>
        <p>
                <label for="addressline2">Address Line 2</label>
                <input type="text" id="addressline2" name="addressline2" placeholder="" value= "{{user.addresses[0].address_line_2}}" class="input1">
                </p>
        <br>
        <p>
            <label for="city">City</label>
            <input type="text" id="city" name="city" placeholder="Richmond" class="input1" value="{{user.addresses[0].city}}" required="required">
            </p>
            <br>
        <p>
            <label for="zipcode">Zip Code</label>
            <input type="text" id="zipcode" name="zipcode" placeholder="12345" class="input1" value ="{{user.addresses[0].zip_code}}" required="required">
            </p>
            <br>

        <p>
        <label for="note">Note</label>
        <input type="text" id="note" name="note" value="{{user.extra_information}}" class="input1">
        </p>
        <br>

        </div>
        <ul id = "buttons01" class="style1 buttons">
            <input type="submit" value="Submit" class="style1" id="submitbutton"> 
        </ul>
        <br>
    </form>
</div>
{% endblock %}