{% extends 'bases/driver_info_base.html' %}
 
{% set active_page='user_profile' %}
 
{% block title %}{{ user.first_name.capitalize() }} {{ user.last_name.capitalize() }}{% endblock %}
 
{% block main %}
<h1 id="text02" class="style1" style="opacity: 1; transform: none;"> User: {{ user.first_name }} {{ user.last_name }}</h1>
<p id="text07" class="style2" style="opacity: 1; transform: none;">{{ user.student_or_parent }}</p>
<p id="text01" class="style2" style="opacity: 1; transform: none;">
    <span class="p">
        Number of seats: {{ user.num_seats }}
        <br>
        Years with license: {{user.num_years_with_license}}
        <br>
         Car type: {{ user.car_type_1 }}
        <br>
         Car color: {{ user.car_color_1}}
        <br>
         Email: {{ user.email_address }}
        <br>
         Phone number: {{ user.phone_number }}
         {% if user.car_type_2 %}
        <br>
         Secondary car type: {{ user.car_type_2}}
        <br>
         Secondary car color: {{ user.car_color_2}}
        {% endif %}
        <br>
         Emergency contact number: {{user.emergency_contact_number}}
        <br>
         Emergency contact relationship: {{user.emergency_contact_relation}}
        <br>
         Note: {{user.extra_information}}
         <br>
         Region: {{user.region_name}}
         <br>
         Address: {{user.get_address()}}
         <br>
         Last authentication update: {{user.get_auth_key_date()}}

    </span>
</p>
<p id="text02" class="style2" style="opacity: 1; transform: none;"> Actions</p>
<ul id="buttons01" class="style1 buttons">
    <li>
        <a href="{{url_for('auth.update_user_information_page')}}" class="button n01">
            <span class="label"><b>Edit information</b></span>
        </a>
        <a href="{{url_for('auth.forgot_password_page')}}" class="button n01">
            <span class="label"><b>Reset Password</b></span>
        </a>
        <br>
        <a href="{{url_for('main.manage_carpools_page')}}" class="button n01">
            <span class="label"><b>Manage Carpools</b></span>
        </a>
    
    </li>
</ul>
{% endblock %}