{% extends 'bases/bootstrap_base.html' %}

{% set title='View Carpool' %}
{% block styles%}
<style>
    #mapdiv {
        position: relative;
        height: 700px;
        width: 100%;
        border-color: #fff;
        background-color: #fff;
    }
</style>


{% endblock %}

{% block main %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_JtvDeZqiy9sxCKqfggODYMhuaeeLjXI&callback=initMap"
    async="false"></script>

<section class="position-relative py-4 py-xl-5">
    <h1 class="text-center text-primary" style="font-family: Bungee Shade;font-size: 81.632px;">Carpool for {{carpool.event.name}}</h1>
    <h2 class="text-center text-secondary">{{carpool.event.date.strftime('%A, %B %-d, %Y')}}</h2> 
    <p class="text-center"></p>
    <div class="container position-relative">
        <div class="row">
            <div class="col">
            <div id="mapdiv"></div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Carpool Summary</h4>
                        <p class="card-text">
                            {% if carpool.driver == user %} You will leave at {{carpool.start_time.strftime('%-I:%M %p')}} for the event from {{carpool.event.start_time.strftime('%-I:%M %p')}} to {{carpool.event.end_time.strftime('%-I:%M %p')}}.
                            {% else %} {% if carpool.carpool_solution.type == 'to' %} You will be picked up at {{carpool.get_carpool_pickup_time_for_user(user).strftime('%-I:%M %p')}} for the event at {{carpool.event.start_time.strftime('%-I:%M %p')}}.
                            {% else %} You will be dropped off at {{carpool.get_carpool_dropoff_time_for_user(user).strftime('%-I:%M %p')}} for the event ending at {{carpool.event.end_time.strftime('%-I:%M %p')}}.{%endif%}
                            {% endif %}
                            <br>
                            You will get {{ carpool.get_carpool_points(user) }} Carpool Points for participating.
                        </p>
                        <h6 class="text-black-50">Passengers</h6>
                        <ul>
                            {% for passenger in carpool.passengers %}
                            <li>{{passenger.first_name.capitalize()}} {{passenger.last_name.capitalize()}}</li>
                            {%endfor %}
                        </ul><a class="card-link" href="{{url_for('main.driver_page', id=carpool.driver.id)}}">Driver: {{carpool.driver.first_name.capitalize()}} {{carpool.driver.last_name.capitalize()}}</a>
                    </div>
                    </div>
                    
                    {% if carpool.carpool_solution.type == 'to' %}
                    {% for part in carpool.generated_carpool_parts[:-1] %}
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Stop {{loop.index}}:  {{part.to_address.users[0].first_name.capitalize()}} {{part.to_address.users[0].last_name[0].capitalize()}}'s Home</h4>
                            <h6 class="text-muted card-subtitle mb-2">{{part.from_time.strftime('%-I:%M %p')}} to {{part.to_time.strftime('%-I:%M %p')}}</h6>
                            <p class="card-text">Stop to pick up {{carpool.passengers[loop.index - 1].first_name.capitalize()}} at their home:<br> {{carpool.passengers[loop.index-1].get_address()}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Final Stop: {{carpool.event.destination.name}}</h4>
                            <h6 class="text-muted card-subtitle mb-2">{{carpool.generated_carpool_parts[-1].from_time.strftime('%-I:%M %p')}} to {{carpool.generated_carpool_parts[-1].to_time.strftime('%-I:%M %p')}}</h6>
                            <p class="card-text"> You have arrived at {{carpool.event.destination.address.get_address()}}! </p>

                        </div>
                    </div>
                    {% else %}
                    {% for part in carpool.generated_carpool_parts[:-1] %}
                    {% set loop_length = carpool.generated_carpool_parts | length%}
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Stop {{loop.index}}:  {{part.to_address.users[0].first_name.capitalize()}} {{part.to_address.users[0].last_name[0].capitalize()}}'s Home</h4>
                            <h6 class="text-muted card-subtitle mb-2">{{part.from_time.strftime('%-I:%M %p')}} to {{part.to_time.strftime('%-I:%M %p')}}</h6>
                            <p class="card-text">Stop to drop off {{carpool.passengers[loop_length - loop.index - 1].first_name.capitalize()}} at their home:<br> {{part.to_address.get_address()}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Final Stop: {{carpool.driver.first_name.capitalize()}} (Driver's) Home</h4>
                            <h6 class="text-muted card-subtitle mb-2">{{carpool.generated_carpool_parts[-1].from_time.strftime('%-I:%M %p')}} to {{carpool.generated_carpool_parts[-1].to_time.strftime('%-I:%M %p')}}</h6>
                            <p class="card-text"><br>Go home and rest!</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if not user.is_confirmed_for_carpool(carpool.id) %}
        <div class="text-center"> 
            <a class="btn btn-primary btn-lg" id="leftbutton"
                href="{{url_for('internal.confirm_carpool', carpool_id=carpool.id)}}" onclick="confirmConfirmCarpool(event)">
                <span class="label">Confirm</span>
            </a>

            <a class="btn-warning btn btn-lg" id="rightbutton"
                href="{{url_for('internal.decline_carpool', carpool_id=carpool.id)}}" onclick="confirmDenyCarpool(event)">
                <span class="label">
                    Decline
                </span>
            </a>
        </div>
        {% else %}          <div class="text-center"> <a class="btn btn-warning btn-lg" id="leftbutton"
        href="{{url_for('internal.cancel_generated_carpool', carpool_id=carpool.id)}}" onclick="confirmCancelCarpool(event)">
        <span class="label">Cancel Carpool</span>
    </a>
</div>
        {%endif %}
    </div>

</section>

{% endblock %}

{% block scripts %}


<script>
    console.log("starting script");
    var map = "";
    let rendered_carpool;

    $(document).ready(function() {
        renderMap(event, '{{carpool.id}}');
    });



    window.initMap = initMap
    function confirmConfirmCarpool(event) {
        if (!confirm("By confirming this carpool, you are confirming that you will be attending the event and that " +
            "you will be participating in this carpool. Do you wish to continue?")) {
            event.preventDefault();
        }
    }

    function confirmDenyCarpool(event) {
        if (!confirm("By denying, you are opting out of this carpool and will not be able to participate in it." +
            "Additionally, if you were driving, the passengers will have their carpools cancelled. Do you wish to continue?")) {
            event.preventDefault();
        }
    }

    function confirmCancelCarpool(event) {
        if (!confirm("By cancelling, you are opting out of this carpool and will not be able to participate in it." +
            "Additionally, if you were driving, the passengers will have their carpools cancelled. Do you wish to continue?")) {
            event.preventDefault();
        }
    }

    function initMap() {
        window.directionsService = new google.maps.DirectionsService();
        window.directionsRenderer = new google.maps.DirectionsRenderer();

        map = new google.maps.Map(document.getElementById("mapdiv"), {
            zoom: 6,
            center: { lat: 41.85, lng: -87.65 },
        });
        directionsRenderer.setMap(map);
        console.log("map initialized");
    }

    function renderMap(event, carpool_id) {


        // getting data for map
        let http_request = new XMLHttpRequest();
        window.directionsRenderer.setDirections({ routes: [] });

        console.log('recieved request to render map');
        http_request.open("GET", "{{url_for('internal.get_generated_carpool_data', carpool_id='CHANGETHIS')}}".replace('CHANGETHIS', carpool_id), true);
        http_request.send();
        http_request.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                let data = JSON.parse(this.responseText);
                console.log(data);

                directionsService
                    .route({
                        origin: data.origin,
                        destination: data.destination,
                        waypoints: data.waypoints,
                        optimizeWaypoints: false,
                        travelMode: google.maps.TravelMode.DRIVING,
                    })
                    .then((response) => {
                        directionsRenderer.setDirections(response);
                        console.log('request was successful for map render')
                        const route = response.routes[0];


                    })

                rendered_carpool = carpool_id; // this is the carpool that is currently rendered
            }

        }
    }

</script>


{% endblock %}
