{% extends 'bases/webflow_base.html' %}

{% set active_page=''%}
{% set title='View Event Hours' %}
{% block subtitle %}All Events Hours{% endblock %}

{% block styles %}
<style>
    .tabcontent {
        display: none;
        border-top: none;
        padding: 6px 6px;
        border: 1px none;
    }

    .activetab {
        background-color: #00B259 !important;
        color: white;
    }
    .tab button {
        background-color: inherit;
        float: left;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        display: block;
        font-family: 'Fira Sans', sans-serif;
        color: white;
      }
    
    .tablinks.righttab {
        float: right;
    }
    
    .tab button:hover {
            background-color: #cbebdb;
    }
    .tabbar {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #666666;
        width: 100%;
    }

    .gridcontainer {
        display: grid;
        column-gap: 10px;
        grid-template-columns: 2fr 1fr 1fr;
        padding: 10px;
        row-gap: 5px;
        background-color: #444;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 20px;
        border-radius: 3%;
        box-shadow: 0px 0px 5px 0px rgba(255,225,225,0.75);

    }
    .griditem {
        padding: 10px;
        font-size: 1.2em;
        text-align: center;
        font-family: 'Fira Sans', sans-serif;
        color: #000;
        background-color: #555;
    }
    .gridtitle {
        font-size: 1.2em;
        text-align: center;
        font-family: 'Fira Sans', sans-serif;
        font-weight: bold;
        color: beige;
    }

    .othereventscontent {
        display: none;
        position: absolute;
        margin-top: 45px;
        background-color: aliceblue;
        width: 100%;
        overflow: auto;
        border: 1px solid #ccc;
    }

    .othereventscontent span { 
        display: block;
        color: #000;
        padding: 5px;
    }

    .dropdown-content {
        display: block;
        color: black;
        background-color:#555;
        cursor: pointer;
        font-family: 'Fira Sans', sans-serif;

    }

    .dropdown-content:hover {
        background-color:#ccc
    }

    
    h4.style2 {
        font-family: 'Fira Sans', sans-serif;
        font-weight: 600;
        font-size: 1.5em;
        color: #FFFFFF;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 20px;
    }
    .dropdown {
        float: right;
    }

</style>
{% endblock %}


{% block main %}
<div class="tabbar">
    <div class="tab">
        {% for event in recent_events %}
            <button class="tablinks" onclick="openTab(event, '{{event.event_name}}')">{{event.event_name}}</button>
        {% endfor %}
        <div class="dropdown tablinks righttab">
        <button class="tablinks" onclick="toggleDropdown()">Other Events</button>
        <div class="othereventscontent" id="othereventscontent">
        {% for event in other_events %}
            <span class="dropdown-content" onclick="openOtherEvents(event, '{{event.event_name}}')">{{event.event_name}}</span>
        {% endfor %}
        </div>
        </div>
    </div>

    </div>
</div>

<!-- All of the event's tab content. Will only load the tab content of recents then load it with js if in the past-->
{% for event in recent_events + other_events %}
<div id="{{event.event_name}}" class="tabcontent">
    <h4 class="style2">{{event.event_name}}</h4>
    <!-- Users who have checked in -->
    <div class="gridcontainer">
    <span class="gridtitle">Name</span>
    <span class="gridtitle">Check In Time</span>
    <span class="gridtitle">Check Out Time</span>
    {% for checkin in event.get_checkins() %}
            <span class="griditem"> {{checkin.user.first_name.capitalize()}} {{checkin.user.last_name.capitalize()}} </span>
            <span class="griditem"> {{checkin.get_start_time()}} </span>
            <span class = "griditem"> {{checkin.get_end_time()}} </span>
    {% endfor %}
    </div>


    <ul class="style1 buttons">
        <li>
            <a href="{{url_for('internal.download_hours_csv', event_index=event.index)}}" class="button n01">Download CSV</a>
        </li>
    </ul>
</div>

{% endfor %}



{% endblock %}


{% block scripts %}
<script>

document.getElementsByClassName("tablinks")[0].className += " activetab";
document.getElementsByClassName("tabcontent")[0].style.display = "block";

function openTab(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" activetab", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " activetab";
}

function openOtherEvents(event, event_name) {
    openTab(event, event_name);
}

function toggleDropdown() {
    console.log("toggling dropdown")
    let currentStyle = document.getElementById("othereventscontent").style.display
    console.log(currentStyle)
    if (currentStyle == "block") {
        document.getElementById("othereventscontent").style.display = null
    } else {
        document.getElementById("othereventscontent").style.display = "block"
    }
}
</script>
{% endblock %}

